<div>
    <nav id="myModal" class="navbar navbar-default nav_Background_clolor id focusable" tabindex="1">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand nav_text_color">Jio Games</a>
            </div>
        </div>
    </nav>


    <div class="col-xs-12">
        <div>
            <img id="cancelBtn" src={{NewUrl}} class="showImageWidth" alt="Cinque Terre" id="cancelBtn">
        </div>
    </div>
    <footer>
        <div>
            <b>Menu</b>
            <span class="footer_clear_right">
                <b>Clear</b>
            </span>
        </div>

    </footer>
</div>